{% load humanize markup comments %}
{% get_comment_count for articles.article article.id as comment_count %}
{% with article.publish_date as date %}
<div class="article-teaser">
    <h3><a href="{{ article.get_absolute_url }}" title="Read the full article">{{ article.title }}</a></h3>
    <h6 class="teaser-date">Posted {{ date|timesince }} ago by <a href="{% url articles-by-author article.author.username %}" title="View all articles by this author">{{ article.author }}</a></h6>
    <div class="teaser">
        {{ article.teaser|safe }}
    </div>
    <div class="infobar">
        <div class="categories quiet">Filed in {% if article.categories.count %}{% for category in article.categories.all %}{% if not forloop.first %}{% ifnotequal article.categories.count 2 %},{% endifnotequal %} {% if forloop.last %}and{% endif %} {% endif %}<a href="{% url articles-display-category category.slug %}" title="View all articles in this category">{{ category }}</a>{% endfor %}{% else %}<a href="{% url articles-display-uncategorized %}" title="View all uncategorized articles">Uncategorized</a>{% endif %}</div>

        <div class="commentsbar">
            <a href="{{ article.get_absolute_url }}#comments">{{ comment_count }}</a> comment{{ comment_count|pluralize }} |
            <a href="{{ article.get_absolute_url }}" title="Read the full article">read more...</a>
        </div>
        <div style="clear: both"></div>
    </div>
    
    <hr class="content" />
</div>
{% endwith %}
