<table class="calendar">
    <tr>
        <th colspan="7">{{ date|date:"F Y" }}</th>
    </tr>
    <tr class="articles-calendar-weekdays">
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
    {% for week in days %}
    <tr>
      {% for day in week %}
      <td{% ifequal day today.day %} class="today"{% endifequal %}>
        {% with day|stringformat:"02i" as long_day %}
        {% if day %}<a href="{% url articles-day-archive date.year,date|date:"b",long_day %}">{{ day }}</a>{% else %}&nbsp;{% endif %}
        {% endwith %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
</table>