{% if is_paginated %}
<div class="pagination">
<ul>
    {% if page_obj.has_previous %}<li><a href="{% url URLname params %}">&lsaquo; newer</a></li>{% endif %}
    {% for p in paginator.page_range %}
    <li>
        {% ifequal p page_obj.number %}<span class="active">{{ p }}</span>
        {% else %}<a href="{{ page_urls.p }}">{{ p }}</a>{% endifequal %}
    </li>
    {% endfor %}
    {% if page_obj.has_next %}<li><a href="{{ next_url }}">older &rsaquo;</a></li>{% endif %}
</ul>
</div>
{% endif %}