{% extends 'base.html' %}
{% load humanize %}

{% block title %}Article Archive: {{ day|naturalday }}{% endblock %}

{% block content %}
<h2>Article Archives: {{ day|naturalday }}</h2>

{% if object_list %}
{% for article in object_list %}
{% include 'articles/_article_teaser.html' %}
{% endfor %}
{% else %}
<p>No articles were posted on {{ day|date:"d F Y" }}.</p>
{% endif %}

<div style="text-align: center;">
{% if previous_day %}<a href="{% url articles-day-archive previous_day.year,previous_day|date:"b",previous_day.day %}" title="View articles from {{ day|naturalday }}">&lsaquo; {{ previous_day|naturalday }}</a>{% endif %}
{% if previous_day and next_day %} : {% endif %}
{% if next_day %}<a href="{% url articles-day-archive next_day.year,next_day|date:"b",next_day.day %}" title="View articles from {{ day|naturalday }}">{{ next_day|naturalday }} &rsaquo;</a>{% endif %}
</div>
{% endblock %}