{% extends 'base.html' %}
{% load articles %}

{% block title %}Article Archive: {{ year }}{% endblock %}

{% block content %}
<h2>Article Archives: {{ year }} ({{ object_list|length }})</h2>

{% for date in date_list %}
{% if forloop.first %}<ul class="articles-month-archive">{% endif %}
<li><a href="{% url articles-month-archive date.year,date|date:"b" %}" title="View all articles published in {{ date|date:"F Y" }}">{{ date|date:"M Y" }}</a></li>
{% if forloop.last %}</ul>
<div style="clear: both;"></div>{% endif %}
{% endfor %}

<h2>Article Distribution</h2>

<div style="text-align: center">
<img src="http://chart.apis.google.com/chart?chs=350x200&amp;chd=t:{% articles_in_months year %}&amp;chm=N*f0*,000000,0,-1,11&amp;chds=0,{% most_articles_in_a_month year %}&amp;chxr=1,0,{% most_articles_in_a_month year %}&amp;cht=bvs&amp;chxt=x,y&amp;chxl=0:|Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sept|Oct|Nov|Dec|" alt="Article distribution for {{ year }}" title="Article distribution for {{ year }}" style="background-color: #fff; border: 1px solid #333; padding: 10px; margin: auto;" />
</div>

{% if object_list %}
<h2>Latest Articles</h2>
{% for article in object_list %}
{% include 'articles/_article_teaser.html' %}
{% endfor %}
{% endif %}
{% endblock %}
