{% extends 'base.html' %}
{% load articles humanize %}

{% block title %}Article Category: {{ object.name }}, page {{ page_obj.number }}{% endblock %}

{% block keywords %}article, category, {{ object.name }}{% endblock %}
{% block description %}Articles posted in the {{ object.name }} category.{% endblock %}
{% block extra-head %}
<link rel="alternate" type="application/rss+xml" title="Code Koala Blog Articles Tagged: {{ object.name }}" href="/feeds/tags/{{ object.slug }}.rss" />
{% endblock %}

{% block content %}
<h2>
    Article Category: {{ object.name }}, page {{ page_obj.number }}
    <a href="/feeds/tags/{{ object.slug }}.rss"><img src="/static/images/feed-icon-14x14.png" height="14" width="14" alt="RSS Feed" /></a>
</h2>
<div class="quiet">
    Viewing article{{ page_obj.object_list|length|pluralize }} {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ paginator.count|intcomma }} total article{{ paginator.count|pluralize }}.
</div>

{% for article in page_obj.object_list %}
{% include 'articles/_article_teaser.html' %}
{% empty %}
<p>No articles have been posted in this category.</p>
{% endfor %}

{% if is_paginated %}
<div class="pagination">
<ul>
    {% if page_obj.has_previous %}<li><a href="{% url articles-display-category-page object.slug,page_obj.previous_page_number %}">&lsaquo; newer</a></li>{% endif %}
    {% for p in paginator.page_range %}
    <li>
        {% ifequal p page_obj.number %}<span class="active">{{ p }}</span>
        {% else %}<a href="{% url articles-display-category-page object.slug,p %}">{{ p }}</a>{% endifequal %}
    </li>
    {% endfor %}
    {% if page_obj.has_next %}<li><a href="{% url articles-display-category-page object.slug,page_obj.next_page_number %}">older &rsaquo;</a></li>{% endif %}
</ul>
</div>
{% endif %}
{% endblock %}
